button {
    position: relative;
    display: flex;
    top: 30px;
    padding: 5.5px 13.5px;
    width: fit-content;
    height: fit-content;
    border: 2px solid #f6d4a0;
    color: #f6d4a0;
    background-color: #fff;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

button:hover {
    color: #fff;
    background-color: #f6d4a0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body{
    display: block;
}
#error_text span {
    color: #272341;
    background-color: none;
    font-family:Poppins;
    font-weight: 600;
}

#error_text {
    font-size: 31.5px
}