.header {
  display: flex;
  box-sizing: border-box;
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  flex-direction: column;
  width: 100%;
  flex-shrink: 0;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  box-shadow: none;
  z-index: 200;
  border-bottom-color: rgb(0, 0, 0);
  border-bottom-width: 0px;
  border-bottom-style: none;
  border-top-color: rgb(0, 0, 0);
  border-top-width: 0px;
  border-top-style: none;
  padding-bottom: 0px;
  padding-top: 32px;
}

.header .header-container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.header .header-item {
  box-sizing: border-box;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-height: 32px;
}

.header .logo-container {
  margin-right: 2rem;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  line-height: 30px;
  white-space: nowrap;
  color: rgb(0, 123, 255);
  text-decoration: none solid rgb(0, 123, 255);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

.header .logo {
  width: 5rem;
  vertical-align: middle;
  border-style: none;
  box-sizing: border-box;
}

.header .link-container {
  box-sizing: border-box;
  flex-direction: row;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  flex-grow: 1;
  display: flex;
}

.header .link-1 {
  color: rgb(66, 66, 66);
  text-decoration: none solid rgb(66, 66, 66);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: rgb(66, 66, 66) none 0px;
  border: 0px none rgb(66, 66, 66);
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  font-weight: 400;
  font-size: 16px;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  border-radius: 8px;
  padding: 8px 0px;
  line-height: 24px;
  font-family: Poppins;
  text-transform: none;
  -webkit-box-pack: start;
  justify-content: flex-start;
  min-width: 0px;
  letter-spacing: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: none;
}

.style-10 {
  box-sizing: border-box;
}

.header .link-2 {
  color: rgb(66, 66, 66);
  text-decoration: none solid rgb(66, 66, 66);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: rgb(66, 66, 66) none 0px;
  border: 0px none rgb(66, 66, 66);
  margin: 0px 0px 0px 32px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  font-weight: 400;
  font-size: 16px;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  border-radius: 8px;
  padding: 8px 0px;
  line-height: 24px;
  font-family: Poppins;
  text-transform: none;
  -webkit-box-pack: start;
  justify-content: flex-start;
  min-width: 0px;
  margin-left: 32px;
  letter-spacing: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: none;
}

.header .style-12 {
  box-sizing: border-box;
}

.link-3 {
  color: rgb(66, 66, 66);
  text-decoration: none solid rgb(66, 66, 66);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: rgb(66, 66, 66) none 0px;
  border: 0px none rgb(66, 66, 66);
  margin: 0px 0px 0px 32px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  font-weight: 400;
  font-size: 16px;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  border-radius: 8px;
  padding: 8px 0px;
  line-height: 24px;
  font-family: Poppins;
  text-transform: none;
  -webkit-box-pack: start;
  justify-content: flex-start;
  min-width: 0px;
  margin-left: 32px;
  letter-spacing: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: none;
}

.header .style-14 {
  box-sizing: border-box;
}

.header .button-container {
  display: flex;
  align-items: center;
  align-items: center;
  box-sizing: border-box;
  margin-left: 32px;
  margin: 0px 0px 0px 32px;
}

.header .button {
  height: fit-content;
  color: rgb(255, 255, 255);
  text-decoration: none solid rgb(255, 255, 255);
  background-color: rgb(33, 33, 33);
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: rgb(255, 255, 255) none 0px;
  border: 0px none rgb(0, 0, 0);
  margin: 0px 0px 0px 8px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  min-width: 64px;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  box-shadow: none;
  text-transform: none;
  line-height: normal;
  padding: 12px 32px;
  border-radius: 8px;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  letter-spacing: normal;
  white-space: nowrap;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-right: 32px;
  padding-left: 32px;
  border-color: rgb(0, 0, 0);
  border-width: 0px;
  border-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header .button-text {
  box-sizing: border-box;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header .button-span {
  box-sizing: border-box;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  inset: 0px;
  border-radius: 8px;
}

.header .hamburger{
  display: none;
  position: absolute;
  right: 10px;
  width: 40px;
  height: 100%;
  background-color: none;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
}

.header .hamburger i{
  display: flex;
  color: #333333;
}


@media only screen and (max-width: 990px) {
  .header .header-container {
    max-width: 725px;
  }

  .header .button-container {
    display: none;
  }

  .header .link-1 {
    display: none;
  }
  .header .link-2 {
    display: none;
  }
  .header .link-3 {
    display: none;
  }

  .header .hamburger{
    display: flex;
  }
}

@media only screen and (max-width: 770px) {
  .header .header-container {
    max-width: 550px;
  }

}