.hero {
  display: block;
  box-sizing: border-box;
  background-attachment: scroll;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-color: rgb(0, 0, 0);
  border-bottom-width: 0px;
  border-bottom-style: none;
  border-top-color: rgb(0, 0, 0);
  border-top-width: 0px;
  border-top-style: none;
  padding-bottom: 96px;
  padding-top: 96px;
  background-color: rgb(255, 255, 255);
}

.hero .hero-container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.hero .hero-item {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: -32px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.hero .item-left {
  max-width: 100%;
  flex-basis: 41.6667%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  box-sizing: border-box;
  margin: 0px;
  flex-direction: row;
  padding-top: 32px;
}

.hero .text-big {
  text-align: left;
  font-size: 48px;
  margin-bottom: 8px;
  font-weight: 600;
  line-height: 72px;
  margin-top: 0px;
  box-sizing: border-box;
  padding-bottom: 24px;
  padding-top: 0px;
  letter-spacing: normal;
  color: rgb(56, 59, 61);
  font-family: Inter;
  white-space: pre-line;
}

.hero .text-big span{
  display: block;
  background-color: #fef9ec;
}

.hero .text-small {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 16px;
  box-sizing: border-box;
  padding-bottom: 32px;
  line-height: 24px;
  padding-top: 0px;
  letter-spacing: normal;
  font-size: 16px;
  color: rgb(56, 59, 61);
  font-weight: 300;
  font-family: Inter;
  white-space: pre-line;
}

.hero .button-container {
  -webkit-box-pack: start;
  justify-content: start;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.hero .button {
  display: flex;
  color: rgb(255, 255, 255);
  text-decoration: none solid rgb(255, 255, 255);
  background-color: rgb(33, 33, 33);
  box-sizing: border-box;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: rgb(255, 255, 255) none 0px;
  border: 0px none rgb(0, 0, 0);
  margin: 0px 16px 16px 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  min-width: 64px;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  box-shadow: rgba(17, 17, 17, 0.04) 0px 2px 4px 0px,
    rgba(33, 33, 33, 0.08) 0px 8px 32px 0px;
  text-transform: none;
  line-height: normal;
  padding: 16px 32px;
  border-radius: 8px;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  letter-spacing: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hero .button-text {
  box-sizing: border-box;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.hero .button-span {
  box-sizing: border-box;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  inset: 0px;
  border-radius: 8px;
}

.hero .item-right {
  display: flex;
  justify-content: center;
  width: 100%;
  justify-content: center;
  width: 100%;
  flex-basis: 50%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 50%;
  box-sizing: border-box;
  margin: 0px;
  flex-direction: row;
  padding-top: 32px;
}

.hero .image {
  vertical-align: middle;
  border-style: none;
  box-sizing: border-box;
  border-radius: 0px;
  width: 100% !important;
  border-color: rgb(0, 0, 0);
  border-width: 0px;
}

@media only screen and (max-width: 990px) {
  .hero .hero-container {
    max-width: 750px;
  }
}

@media only screen and (max-width: 770px) {
  .hero .hero-item {
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    align-self: center;
  }
  .hero .item-left {
    max-width: 500px;
  }
  .hero .hero-container {
    justify-content: center;
    display: flex;
  }

  .hero .text-big {
    text-align: center;
  }

  .hero .text-small {
    text-align: center;
  }

  .hero .button {
    display: flex;
    left: 0;
    right: 0;
    margin: auto;
  }

  .hero .item-right {
    max-width: 500px;
  }
}
