.project {
  display: block;
  box-sizing: border-box;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-color: rgb(0, 0, 0);
  border-bottom-width: 0px;
  border-bottom-style: none;
  border-top-color: rgb(0, 0, 0);
  border-top-width: 0px;
  border-top-style: none;
  padding-bottom: 96px;
  padding-top: 96px;
  background-color: rgb(255, 255, 255);
  background-position: 50% 50%;
  transition: 0.3s;
}

.project .project-container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  transition: 0.3s;
}

.project .heading {
  box-sizing: border-box;
  text-align: center;
}

.project .text-heading-big {
  font-size: 36px;
  margin-bottom: 8px;
  font-weight: 600;
  line-height: 54px;
  margin-top: 0px;
  box-sizing: border-box;
  padding-bottom: 16px;
  padding-top: 0px;
  letter-spacing: normal;
  color: rgb(56, 59, 61);
  font-family: Inter;
  white-space: pre-line;
}

.project .text-heading-small {
  margin-top: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
  padding-bottom: 20px;
  padding-top: 0px;
  line-height: 30px;
  font-size: 20px;
  letter-spacing: normal;
  color: rgb(56, 59, 61);
  font-weight: 300;
  font-family: Inter;
  white-space: pre-line;
}

.project .project-item {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  width: calc(100% + 16px);
  margin-left: -16px;
  margin-top: 0px;
  transition: 0.3s;
}

.project .item {
  flex-basis: 33.3333%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 33.3333%;
  box-sizing: border-box;
  margin: 0px;
  flex-direction: row;
  width: 100%;
  padding-left: 16px;
  padding-top: 64px;
  transition: 0.5s;
  display: flex;
  transition: 0.3s;
}

.project .item-container {
  color: rgb(0, 123, 255);
  text-decoration: none solid rgb(0, 123, 255);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  pointer-events: all;
  transition: 0.3s;
}

.project .item-container-item {
  box-sizing: border-box;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 480.302px;
  background: rgba(147, 46, 46, 0) none repeat scroll 0% 0% / auto padding-box
    border-box;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 32px 0px;
  padding: 24px;
  transition: all 0.4s ease-in-out 0s;
  text-decoration: none solid rgb(0, 123, 255);
  transition: 0.3s;
}
.project .item-container-item:hover {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  /*add a code to create a gradient of red and blue from top to bottom*/
}
.project .item-a {
  box-sizing: border-box;
  text-decoration: none solid rgb(0, 123, 255);
}

.project .item-container-item .image {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 256px;
  width: 100%;
  background-position: 50% 50%;
  background-size: 100%;
  text-decoration: none solid rgb(0, 123, 255);
}

.project .text-small {
  font-size: 14px;
  margin-bottom: 12px;
  font-weight: 400;
  line-height: 16.8px;
  margin-top: 0px;
  box-sizing: border-box;
  letter-spacing: normal;
  text-decoration: none solid rgb(56, 59, 61);
  color: rgb(56, 59, 61);
  font-family: Inter;
}

.project .text-big {
  margin-top: 0px;
  margin-bottom: 16px;
  box-sizing: border-box;
  padding-bottom: 64px;
  padding-top: 16px;
  line-height: 30px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: normal;
  text-decoration: none solid rgb(56, 59, 61);
  color: rgb(56, 59, 61);
  font-family: Inter;
  white-space: pre-line;
}

.project .item-container-item .go-to {
  color: rgb(18, 100, 163);
  text-decoration: none solid rgb(18, 100, 163);
  background-color: rgba(200, 140, 140, 0);
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: normal;
  font-size: 14px;
  font-family: Inter;
  display: flex;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.project .item-container-item .go-to-text {
  box-sizing: border-box;
}

.project .item-container-item .go-to-icon {
  overflow: hidden;
  vertical-align: middle;
  box-sizing: border-box;
  display: flex;
  position: relative;
  right: -2px;
  bottom: -2px;
}

@media only screen and (max-width: 550px) {
  .project .item {
    max-width: 100px;
  }
  .project .project-item {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .project .project-container {
    max-width: 100vw;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
  }
}

@media only screen and (max-width: 770px) {
  .project .item {
    max-width: 525px;
    transition: 0.3s;
  }

  .project .item-container-item .image {
    height: 256px;
    width: 100%;
    background-position: 50% 50%;
    background-size: 80%;
    transition: 0.3s;
  }

  .project .project-item {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }
  .project .project-container {
    max-width: 100vw;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    transition: 0.3s;
  }
  
  .project .item-container-item .go-to {
    display: flex;
  }
}

@media only screen and (max-width: 1000px) and (min-width:770px){
  .project .item-container-item {
    max-height: 410px;
    transition: 0.3s;
  }

  .project .item-container-item .go-to {
    bottom: 65px;
    transition: 0.3s;
    display: none;
  }
}
