
.star{
    display: flex;
    left: 0;
    right: 0;
    margin: auto;
    box-sizing: border-box;
    background-attachment: scroll;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-width: 0px;
    border-bottom-style: none;
    border-top-color: rgb(0, 0, 0);
    border-top-width: 0px;
    border-top-style: none;
    padding-bottom: 96px;
    padding-top: 96px;
    background-color: #fef9ec;
  }
  
  .star .star-container{
    max-width: 1140px;
    width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
  }
  
  .star .star-item {
    box-sizing: border-box;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 0px;
    padding-top: 0px;
    box-shadow: none;
    border-radius: 0px;
    border-color: rgb(0, 0, 0);
    border-width: 0px;
    border-style: none;
  }
  
  .style-145 {
    box-sizing: border-box;
  }
  
  .star .text {
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    margin-top: 0px;
    box-sizing: border-box;
    padding-bottom: 40px;
    padding-top: 0px;
    letter-spacing: normal;
    color: rgb(56, 59, 61);
    font-family: Inter;
    white-space: pre-line;
  }
  
  .star .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
  }
  
  .star .button {
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    background-color: rgb(33, 33, 33);
    box-sizing: border-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: rgb(255, 255, 255) none 0px;
    border: 0px none rgb(41, 119, 201);
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    min-width: 64px;
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s,
      box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s,
      border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s,
      color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    box-shadow: rgba(17, 17, 17, 0.04) 0px 2px 4px 0px,
      rgba(33, 33, 33, 0.08) 0px 8px 32px 0px;
    border-radius: 8px;
    line-height: 24px;
    font-family: Inter;
    text-transform: none;
    margin: 8px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .star .button-text {
    box-sizing: border-box;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .star .button-span{
    box-sizing: border-box;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: 8px;
  }
  

  