@import "tw-animate-css";
@import "shadcn/tailwind.css";

@import "tailwindcss/preflight";
@custom-variant dark (&:is(.dark *));
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* :root {
  /*
  /* Override default variables here */
  /*
  --font-size-display-multiplier:   1;
  --font-size-heading-multiplier:   1;
  --font-size-body-multiplier:      1;
  --font-size-label-multiplier:     1;

  --line-height-display-multiplier: 1;
  --line-height-heading-multiplier: 1;
  --line-height-body-multiplier:    1;
  --line-height-label-multiplier:   1;

  --default-border:        var(--neutral-border-medium);

  /*
  /* Example setup for custom colors */
  /* Generate at: https://once-ui.com/customize */
  /*
  --scheme-brand-100: #08002f;
  --scheme-brand-200:  #04025c;
  --scheme-brand-300:  #1f398e;
  --scheme-brand-400:  #3856ae;
  --scheme-brand-500:  #5071cc;
  --scheme-brand-600:  #6f94f1;
  --scheme-brand-700:  #8db3ff;
  --scheme-brand-800:  #b2dbff;
  --scheme-brand-900:  #bfe8ff;
  --scheme-brand-1000: #ccf6ff;
  --scheme-brand-1100: #d2fcff;
  --scheme-brand-1200: #d2fcff;
  --scheme-brand-600-10: rgba(111,148,241,0.1);
  --scheme-brand-600-30: rgba(111,148,241,0.3);
  --scheme-brand-600-50: rgba(111,148,241,0.5);

  --scheme-accent-100:  #030b10;
  --scheme-accent-200:  #0d181d;
  --scheme-accent-300:  #364248;
  --scheme-accent-400:  #505d64;
  --scheme-accent-500:  #69777e;
  --scheme-accent-600:  #8a989f;
  --scheme-accent-700:  #a8b7bf;
  --scheme-accent-800:  #c8d7df;
  --scheme-accent-900:  #d5e4ec;
  --scheme-accent-1000: #e2f1f9;
  --scheme-accent-1100: #e9f8ff;
  --scheme-accent-1200: #efffff;
  --scheme-accent-600-10: rgba(138,152,159,0.1);
  --scheme-accent-600-30: rgba(138,152,159,0.3);
  --scheme-accent-600-50: rgba(138,152,159,0.5);

  --scheme-neutral-100:  #020b10;
  --scheme-neutral-200:  #0b181d;
  --scheme-neutral-300:  #344248;
  --scheme-neutral-400:  #4f5d64;
  --scheme-neutral-500:  #68777e;
  --scheme-neutral-600:  #89989f;
  --scheme-neutral-700:  #a7b7be;
  --scheme-neutral-800:  #c7d7df;
  --scheme-neutral-900:  #d4e4ec;
  --scheme-neutral-1000: #e1f2f9;
  --scheme-neutral-1100: #e7f8ff;
  --scheme-neutral-1200: #eeffff;
  --scheme-neutral-600-10: rgba(137,152,159,0.1);
  --scheme-neutral-600-30: rgba(137,152,159,0.3);
  --scheme-neutral-600-50: rgba(137,152,159,0.5);
  /*
}*/

  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.58 0.22 27);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.809 0.105 251.813);
    --chart-2: oklch(0.623 0.214 259.815);
    --chart-3: oklch(0.546 0.245 262.881);
    --chart-4: oklch(0.488 0.243 264.376);
    --chart-5: oklch(0.424 0.199 265.638);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

  .dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.87 0.00 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.371 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.809 0.105 251.813);
    --chart-2: oklch(0.623 0.214 259.815);
    --chart-3: oklch(0.546 0.245 262.881);
    --chart-4: oklch(0.488 0.243 264.376);
    --chart-5: oklch(0.424 0.199 265.638);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

  @theme inline {
    --font-sans: var(--font-sans);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

  @layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}