@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: Figtree;
  src: url(fonts/Figtree-VariableFont_wght.ttf);
}

@font-face {
  font-family: Poppins300;
  src: url(/fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: Poppins400;
  src: url(/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins500;
  src: url(/fonts/Poppins-Medium.ttf);
}
/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 11px;
  width: 13px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #2a323c;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #272f39;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #272f39;
}

body {
  display: flex;
  background-color: #fffffe;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  transition: 0.3s;
}

body.active {
  background-color: #2b2c34;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

.svgImg {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.container {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 80vw;
  height: fit-content;
  background-color: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

.container .text-top {
  display: flex;
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: none;
  font-weight: bolder;
  font-family: "Figtree";
  font-size: 64px;
  color: #2b2c34;
  align-items: center;
  justify-content: center;
  background-color: none;
}

.container .text-bottom {
  display: flex;
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: none;
  font-weight: lighter;
  font-family: "Figtree";
  font-size: 23px;
  color: #2b2c34;
  align-items: center;
  justify-content: center;
  background-color: none;
}

.container .text-bottom.active {
  color: rgb(206, 205, 205) !important;
}

.container .text-top.active {
  color: #fffffe !important;
}
.container .button-container {
  display: flex;
  position: relative;
  height: fit-content;
  width: 400px;
  background-color: none;
  align-items: center;
  justify-content: space-evenly;
  min-height: 70px;
  height: 70px;
}

.container .button-container .button {
  display: flex;
  position: relative;
  width: 250px;
  height: 63px;
  background-color: none;
  padding-inline: 10px;
  border-radius: 0;
  outline: none;
  border: 5px solid #2b2c34;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: "Figtree";
  font-weight: bold;
  letter-spacing: 0.25px;
  color: #2b2c34;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  text-decoration: none;
  transition: border 0s background-color 0.3s;
  border-radius: 4px;
}

.container .button-container .button-github {
  display: flex;
  position: relative;
  width: 63px;
  height: 63px;
  background-color: none;
  padding-inline: 10px;
  border-radius: 0;
  outline: none;
  border: 5px solid #2b2c34;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  font-family: "Figtree";
  font-weight: bold;
  letter-spacing: 0.25px;
  color: #2b2c34;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  text-decoration: none;
  transition: border 0s background-color 0.3s;
  border-radius: 4px;
}

.container .button-container .button.active {
  background-color: #2b2c34;
  color: #fffffe;
  border-color: #fffffe;
}

.container .button-container .button-github.active {
  background-color: #2b2c34;
  color: #fffffe;
  border-color: #fffffe;
}

.button:hover {
  background-color: #2b2c34;
  color: rgb(255, 252, 252) !important;
  border: 0px solid none !important;
}

.button:active {
  width: calc(250px + 10px) !important;
  height: calc(63px + 10px) !important;
  border-color: #464751 !important;
}

.button-github:hover {
  background-color: #2b2c34;
  color: rgb(255, 252, 252) !important;
  border: 0px solid none !important;
}

.button-github:active {
  width: calc(63px + 10px) !important;
  height: calc(63px + 10px) !important;
  border-color: #464751 !important;
}

.button-theme-container {
  display: flex;
  position: absolute;
  right: 30px;
  top: 30px;
  height: 70px;
  width: 70px;
  background-color: none;
  align-items: center;
  justify-content: center;
}

.button-theme-container .button-theme {
  display: flex;
  position: relative;
  width: 55px;
  height: 55px;
  background-color: none;
  padding-inline: 10px;
  border-radius: 0;
  outline: none;
  border: 5px solid #2b2c34;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Figtree";
  font-weight: bold;
  letter-spacing: 0.25px;
  color: #2a323c;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  text-decoration: none;
  transition: border 0s background-color 0.3s;
}

.button-theme:hover {
  background-color: #2b2c34;
  color: rgb(255, 252, 252) !important;
  border: 0px solid none !important;
}

.button-theme.active:hover {
  background-color: #fffffe !important;
  color: #2b2c34 !important;
}

.button-theme.active:active {
  border-color: #d8d8d8 !important;
}
.button.active:hover {
  background-color: #fffffe !important;
  color: #353d46 !important;
}

.button-github.active:active {
  border-color: #d8d8d8 !important;
}
.button-github.active:hover {
  background-color: #fffffe !important;
  color: #2b2c34 !important;
}

.button.active:active {
  border-color: #d8d8d8 !important;
}

.button-theme:active {
  width: calc(55px + 8px) !important;
  height: calc(55px + 8px) !important;
  border-color: #464751 !important;
}

.button-theme.active {
  background-color: #2b2c34;
  color: #fffffe;
  border-color: #fffffe;
}

.button-github.active {
  background-color: #2b2c34;
  color: #fffffe;
  border-color: #fffffe;
}
@media only screen and (max-width: 350px) {
  .text-top {
    font-size: 45px !important;
  }

  .text-bottom {
    font-size: 17px !important;
  }

  .button {
    font-size: 16px !important;
    width: 175px !important;
    height: 50px !important;
  }

  .button:active {
    width: calc(175px + 8px) !important;
    height: calc(50px + 8px) !important;
    border-color: #2b2c34 !important;
  }

  .button-theme-container {
    display: none !important;
  }
}
