/*
	Installed from https://reactbits.dev/ts/default/
*/

.bounceCardsContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 400px;
}

.card {
  position: absolute;
  width: 200px;
  aspect-ratio: 1;
  border: 5px solid #fff;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;

}


.card .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1080px) {
  .card {
    width: 150px !important;
    border-radius: 42.5px !important;
  }

  .bounceCardsContainer{
    height: 180px !important;
  }
}

@media (max-width: 800px) {
  .card {
    width: 180px !important;
    border-radius: 40.5px !important;
  }

  .bounceCardsContainer{
    height: 220px !important;
  }
}