.marquee-container {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.marquee-container > * {
	pointer-events: auto;
}

.marquee-item {
	position: absolute;
	top: 0;
	left: 0;
}

.card {
	width: 33px;
	height: 33px;
	cursor: pointer;
	border-radius: 0.25rem;
	padding: 4px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	box-shadow:
		0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	position: relative;
	overflow: hidden;
	transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover {
	transform: scale(1.2);
}

.card-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
}

.card-footer {
	position: relative;
	z-index: 2;
}

.card-footer::before {
	content: "";
	position: absolute;
	bottom: -0.25rem;
	left: -0.25rem;
	right: -0.25rem;
	height: 1rem;
	background: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.4) 0%,
		rgba(0, 0, 0, 0.1) 50%,
		transparent 100%
	);
	z-index: -1;
}

.card-artist {
	color: white;
	font-size: 0.25rem;
	font-weight: 400;
	text-align: right;
}
