.lh {
  line-height: 1.5em;
}

.nav-item-container:hover .nav-item-title {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}
