.container {
  position: relative;
  width: 100%;
  border-radius: 0.75rem;
  corner-shape: superellipse(1.25);
  overflow: hidden;
  box-shadow: 0 0 0 1px var(--border);
  background-color: var(--body);

  .copy {
    z-index: 99;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.1rem;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: -0.00563rem;
    transition: color 200ms ease;
    color: var(--color-muted);
    background-color: var(--body);
    mask-image: linear-gradient(to right, transparent, black 1.25rem);

    &:hover {
      color: var(--color);
    }
  }
  pre {
    display: block;
    position: relative;
    padding: 1rem 1.25rem;
    color: var(--color);
    overflow: hidden;
    font-size: 0.8125rem;
    line-height: 1.4;

    max-height: 11.75rem;
    overflow-y: scroll;
  }
}
