.container .about {
  display: flex;
  position: relative;
  max-width: 873px;
  width: fit-content;
  min-height: 500px;
  background-color: none;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 100px;
  flex-direction: row;
}

.container .about .leftC {
  display: flex;
  position: relative;
  width: 50%;
  height: fit-content;
  background-color: none;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.container .about .leftC .textTop {
  display: flex;
  position: relative;
  width: 100%;
  height: fit-content;
  font-size: 45px;
  color: var(--secondary);
  text-align: left;
  margin-top: 50px;
}

.textTop::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 5px;
  background-color: var(--primary);
  top: -40px;
}

.container .about .leftC .textBottom {
  display: flex;
  position: relative;
  width: 100%;
  letter-spacing: 0.025rem;
  line-height: 2em;
  width: 100%;
  font-size: 17px;
  font-weight: 200;
  text-align: left;
  color: var(--textMidDark);
  font-family: "Inter", sans-serif;
  margin-top: 50px;
  flex-wrap: wrap;
  flex-direction: column;
}

.container .about .leftC .textBottom span {
  display: flex;
  position: relative;
  width: 100%;
  letter-spacing: 0.025rem;
  line-height: 2em;
  width: 100%;
  font-size: 17px;
  font-weight: 200;
  text-align: left;
  color: var(--primary);
  font-family: monospace;
  margin-top: 20px;
}

.container .about .rightC {
  display: flex;
  position: relative;
  width: 50%;
  height: 400px;
  align-items: end;
  justify-content: end;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: none;
}

.container .about .rightC .image {
  display: flex;
  position: relative;
  width: 350px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 140%;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M695 710q-195 210-426.5 0t0-407Q500 106 695 303t0 407Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%237185A7%22 d=%22M695 710q-195 210-426.5 0t0-407Q500 106 695 303t0 407Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
align-items: center;
justify-content: center;
}
.container .about .rightC .image::before {
  content: "";
  width: fit-content;
  height: fit-content;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 140%;
}

@media screen and (max-width: 768px) {
  .container .about {
    flex-direction: column-reverse;
  }

  .container .about {
    margin-top: 0;
  }
  .container .about .leftC {
    width: 100%;
  }
  .container .about .rightC {
    width: 100%;
    align-items: flex-start;
  }
}
