
.container .footer {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 100px;
    height: 100%;
    background-color: none;
    font-family: "Inter", sans-serif;
    color: var(--textMidDark);
    font-size: 13px;
    letter-spacing: 3px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border-top: 1px solid #b5bbc750;
  }