.container .home {
  display: flex;
  position: relative;
  max-width: 80vw;
  width: 100%;
  min-height: 500px;
  height: fit-content;
  background-color: none;
  align-items: center;
  justify-content: flex-start;
  padding-top: 80px;
  flex-wrap: wrap;
  flex-direction: column;
}

.container .home .textSmall {
  display: flex;
  position: relative;
  font-size: 14px;
  text-align: center;
  justify-content: center;
  color: var(--primary);
  letter-spacing: 5px;
  align-items: center;
  width: 100%;
  text-transform: uppercase;

  height: 50px;
  min-height: 50px;
}
.container .home .textBig {
  display: flex;
  position: relative;
  font-size: 60px;
  text-align: center;
  justify-content: center;
  color: var(--secondary);
  letter-spacing: 3px;
  align-items: center;
  width: 100%;

  height: fit-content;
  min-height: 50px;
}

.container .home .textMid {
  display: flex;
  position: relative;
  color: var(--textMidDark);
  font-family: "Inter", sans-serif;
  letter-spacing: 0.025rem;
  width: 100%;
  font-size: 20px;
  line-height: 1.875;
  font-weight: 200;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.container .home .button {
  display: flex;
  position: relative;
  background-color: var(--primary);
  color: var(--background);
  background-image: linear-gradient(
    193deg,
    #9989fa 0%,
    rgba(131, 110, 230, 0.008) 100%
  );
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: cover;
  max-width: 210px;
  width: 200px;
  max-height: 70px;
  letter-spacing: 5px;
  font-weight: 300;
  height: 65px;
  border-radius: 1000px;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-top: -30px;
  cursor: pointer;
}
.home .button:hover {
  background-color: var(--primaryDark);
}
