
.container .projects {
    display: flex;
    position: relative;
    max-width: 873px;
    width: 100%;
    min-height: 500px;
    background-color: none;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 100px;
    flex-direction: column;
    background-color: none;
  }
  
  .container .projects .textTop {
    display: flex;
    position: relative;
    width: 100%;
    height: fit-content;
    font-size: 45px;
    color: var(--secondary);
    text-align: left;
    margin-top: 50px;
  }
  
  .container .projects .textTop::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 5px;
    background-color: var(--primary);
    top: -40px;
  }
  
  .container .projects .textBottom {
    display: flex;
    position: relative;
    letter-spacing: 0.025rem;
    line-height: 1.6em;
    width: 75%;
    font-size: 17px;
    font-weight: 200;
    text-align: left;
    color: var(--textMidDark);
    font-family: "Inter", sans-serif;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 30px;
  }
  
  .container .projects .projectSection {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 500px;
    height: fit-content;
    background-color: none;
    align-items: center;
    justify-content: space-between;
    margin-top: 75px;
  }
  
  .container .projects .projectSection .boxes {
    display: flex;
    position: relative;
    width: 400px;
    min-height: 575px;
    height: fit-content;
    background-color: none;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .projectSection .boxes .image {
    display: flex;
    position: relative;
    width: 100%;
    height: calc(600px / 2);
    background-color: none;
    align-items: center;
    justify-content: center;
    background-image: url(assets/project.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 97%;
  }
  
  .projectSection .boxes .bottomTextC {
    display: flex;
    position: relative;
    width: 100%;
    height: 50%;
    padding-top: 50px;
    background-color: none;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .projectSection .boxes .bottomTextC .h1 {
    color: var(--secondary);
    font-size: 20.3px;
    display: flex !important;
    position: relative;
    letter-spacing: 1.7px;
    font-weight: 250;
  }
  
  .projectSection .boxes .bottomTextC .h3 {
    letter-spacing: 0.025rem;
    line-height: 1.9em;
    width: 100%;
    font-size: 16px;
    font-weight: 200;
    max-width: 90%;
    text-align: left;
    color: var(--textMidDark);
    font-family: "Inter", sans-serif;
    margin-top: 30px;
    display: flex !important;
    position: relative;
  }
  
  .projectSection .boxes .bottomTextC .link {
    color: var(--primary);
    font-size: 18px;
    display: flex !important;
    position: relative;
    letter-spacing: 1px;
    font-weight: 300;
    margin-top: 30px;
    cursor: pointer;
  }
  
  .projectSection .boxes .bottomTextC .link:hover {
    color: var(--primaryDark);
  }
  
  @media screen and (max-width: 768px) {
    .projectSection {
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 50px !important;
    }
  
    .projects .projectSection .boxes {
      width: 100%;
    }
    .projects .projectSection .boxes .image {
      background-size: 100%;
    }
  }